@page "/databites-streamline"
@model Smartadmin.Pages.Databites.StreamlineModel

@{
    ViewBag.Title = "Streamline";
}

@section styles
{

}

@await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml", new {
pageTitle = "Streamline",
pageSubTitle1 = "Data Visualization",
pageSubTitle2 = "Data Bites",
pageSubText = "A lightweight, dependency-free JavaScript library for generating sparkline charts."
})

<div class="main-content">
    <div class="info-container">
        Streamline is a lightweight, dependency-free JavaScript library for generating mini graphs.
        This in-house plugin is designed to be flexible and customizable to your needs. If you'd
        like to request additional features, please don’t hesitate to <a
            href="https://wrapbootstrap.com/user/MyOrange/message" target="_blank">contact us</a>.
    </div>
    <div class="row">
        <div class="col-xl-6">
            <!-- Line Chart -->
            <div class="panel panel-icon" id="panel-1">
                <div class="panel-hdr">
                    <h2>Line <span class="fw-300"><i>Chart</i></span></h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-bs-offset="0,10"
                            data-bs-original-title="Toggle" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use class="panel-collapsed-icon" href="img/sprite.svg#minus-circle"></use>
                                <use class="panel-expand-icon" href="img/sprite.svg#plus-circle">
                                </use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-bs-offset="0,10"
                            data-bs-original-title="Fullscreen" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#stop-circle"></use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-close" data-bs-offset="0,10"
                            data-bs-original-title="Close" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#x-circle"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            Line charts display data points connected by straight line segments. You
                            can customize the line color and width using
                            <code>data-line-color</code> and <code>data-line-width</code>
                            attributes.
                        </div>
                        <div class="demo d-flex justify-content-center flex-wrap d-sm-block">
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-fill-color="transparent" data-height="40"
                                    data-line-color="var(--success-500)" data-line-width="2" data-type="line"
                                    data-width="110">5,3,9,6,5,9,7,3,5,2</span>
                            </div>
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-fill-color="transparent" data-height="40"
                                    data-line-color="var(--danger-500)" data-line-width="2" data-type="line"
                                    data-width="110">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span>
                            </div>
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-fill-color="transparent" data-height="40"
                                    data-line-color="var(--warning-500)" data-line-width="3" data-type="line"
                                    data-width="110">0,1,7,6,4,2,3,5,3,4</span>
                            </div>
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-fill-color="transparent" data-height="40"
                                    data-line-color="var(--info-500)" data-line-width="4" data-type="line"
                                    data-width="110">5,3,9,6,5,3,1,7,6,4</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bar Chart -->
            <div class="panel panel-icon" id="panel-2">
                <div class="panel-hdr">
                    <h2>Bar <span class="fw-300"><i>Chart</i></span></h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-bs-offset="0,10"
                            data-bs-original-title="Toggle" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use class="panel-collapsed-icon" href="img/sprite.svg#minus-circle"></use>
                                <use class="panel-expand-icon" href="img/sprite.svg#plus-circle">
                                </use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-bs-offset="0,10"
                            data-bs-original-title="Fullscreen" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#stop-circle"></use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-close" data-bs-offset="0,10"
                            data-bs-original-title="Close" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#x-circle"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            Bar charts display data as vertical bars. You can customize bar colors,
                            width, and spacing using data attributes.
                        </div>
                        <div class="demo d-flex justify-content-center flex-wrap d-sm-block">
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-bar-color="var(--primary-500)" data-bar-spacing="1"
                                    data-bar-width="4" data-height="40" data-type="bar"
                                    data-width="110">5,3,9,6,5,9,7,3,5,2</span>
                            </div>
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-bar-color="var(--success-500)" data-bar-spacing="1"
                                    data-bar-width="4" data-height="40" data-neg-bar-color="var(--danger-500)"
                                    data-type="bar" data-width="110">4,-3,-6,-4,-5,-4,7,-3,-5,2</span>
                            </div>
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-bar-color="var(--info-500)" data-bar-spacing="2"
                                    data-bar-width="8" data-height="40" data-type="bar"
                                    data-width="110">0,1,7,6,4,2,3,5,3,4</span>
                            </div>
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-bar-color="var(--warning-500)" data-bar-spacing="2"
                                    data-bar-width="8" data-height="40" data-neg-bar-color="var(--danger-500)"
                                    data-type="bar" data-width="110">0,-1,-7,-6,-4,-2,-3,-5,-3,-4</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tristate Chart -->
            <div class="panel panel-icon" id="panel-3">
                <div class="panel-hdr">
                    <h2>Tristate <span class="fw-300"><i>Chart</i></span></h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-bs-offset="0,10"
                            data-bs-original-title="Toggle" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use class="panel-collapsed-icon" href="img/sprite.svg#minus-circle"></use>
                                <use class="panel-expand-icon" href="img/sprite.svg#plus-circle">
                                </use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-bs-offset="0,10"
                            data-bs-original-title="Fullscreen" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#stop-circle"></use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-close" data-bs-offset="0,10"
                            data-bs-original-title="Close" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#x-circle"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            Tristate charts represent data in three states: positive (1), neutral
                            (0), and negative (-1). Each state can be represented with different
                            colors.
                        </div>
                        <div class="demo d-flex justify-content-center flex-wrap d-sm-block">
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-bar-spacing="2" data-bar-width="8" data-height="80"
                                    data-neg-bar-color="var(--danger-500)" data-pos-bar-color="var(--success-500)"
                                    data-type="tristate" data-width="110"
                                    data-zero-bar-color="var(--secondary)">1,1,0,1,-1,-1,1,-1,0,0,1,1</span>
                            </div>
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-bar-spacing="2" data-bar-width="8" data-height="80"
                                    data-neg-bar-color="var(--info-500)" data-pos-bar-color="var(--primary-500)"
                                    data-type="tristate" data-width="110"
                                    data-zero-bar-color="var(--warning-500)">1,-1,0,1,-1,0,1,0,-1,1,0,-1</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <!-- Area Chart -->
            <div class="panel panel-icon" id="panel-4">
                <div class="panel-hdr">
                    <h2>Area <span class="fw-300"><i>Chart</i></span></h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-bs-offset="0,10"
                            data-bs-original-title="Toggle" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use class="panel-collapsed-icon" href="img/sprite.svg#minus-circle"></use>
                                <use class="panel-expand-icon" href="img/sprite.svg#plus-circle">
                                </use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-bs-offset="0,10"
                            data-bs-original-title="Fullscreen" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#stop-circle"></use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-close" data-bs-offset="0,10"
                            data-bs-original-title="Close" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#x-circle"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            Area charts are line charts with the area below the line filled with a
                            color. Customize both line and fill colors using data attributes.
                        </div>
                        <div class="demo d-flex justify-content-center flex-wrap d-sm-block">
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-fill-color="var(--success-200)" data-height="40"
                                    data-line-color="var(--success-500)" data-type="line"
                                    data-width="110">5,3,2,-1,-3,-2,2,3,5,2</span>
                            </div>
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-fill-color="var(--danger-200)" data-height="40"
                                    data-line-color="var(--danger-500)" data-type="line"
                                    data-width="110">1,4,4,7,5,9,10,4,4,7,5,9,10</span>
                            </div>
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-fill-color="var(--warning-200)" data-height="40"
                                    data-line-color="var(--warning-500)" data-type="line"
                                    data-width="110">5,3,9,6,5,3,1,7,6,4,4,1,5</span>
                            </div>
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-fill-color="var(--info-200)" data-height="40"
                                    data-line-color="var(--info-500)" data-type="line"
                                    data-width="110">0,1,7,6,4,2,3,5,3,4,3,1,4,6</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Discrete Chart -->
            <div class="panel panel-icon" id="panel-5">
                <div class="panel-hdr">
                    <h2>Discrete <span class="fw-300"><i>Chart</i></span></h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-bs-offset="0,10"
                            data-bs-original-title="Toggle" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use class="panel-collapsed-icon" href="img/sprite.svg#minus-circle"></use>
                                <use class="panel-expand-icon" href="img/sprite.svg#plus-circle">
                                </use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-bs-offset="0,10"
                            data-bs-original-title="Fullscreen" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#stop-circle"></use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-close" data-bs-offset="0,10"
                            data-bs-original-title="Close" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#x-circle"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            Discrete charts display data as individual vertical lines. Set a
                            threshold value to change the color of lines based on their values.
                        </div>
                        <div class="demo d-flex justify-content-center flex-wrap d-sm-block">
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-height="40" data-line-color="var(--primary-500)"
                                    data-line-width="2" data-threshold-color="var(--danger-500)"
                                    data-threshold-value="5" data-type="discrete"
                                    data-width="110">5,9,7,6,5,3,2,5,8,9,7,5</span>
                            </div>
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-height="40" data-line-color="var(--success-500)"
                                    data-line-width="3" data-threshold-color="var(--warning-500)"
                                    data-threshold-value="6" data-type="discrete"
                                    data-width="110">8,4,6,9,5,3,7,5,7,8,4,9</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pie Chart -->
            <div class="panel panel-icon" id="panel-6">
                <div class="panel-hdr">
                    <h2>Pie <span class="fw-300"><i>Chart</i></span></h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-bs-offset="0,10"
                            data-bs-original-title="Toggle" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use class="panel-collapsed-icon" href="img/sprite.svg#minus-circle"></use>
                                <use class="panel-expand-icon" href="img/sprite.svg#plus-circle">
                                </use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-bs-offset="0,10"
                            data-bs-original-title="Fullscreen" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#stop-circle"></use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-close" data-bs-offset="0,10"
                            data-bs-original-title="Close" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#x-circle"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            Pie charts show data as proportional slices of a whole. You can
                            customize slice colors using the <code>data-slice-colors</code>
                            attribute with an array of colors.
                        </div>
                        <div class="demo d-flex justify-content-center flex-wrap d-sm-block">
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-height="80" data-type="pie"
                                    data-width="80">30,20,45,5</span>
                            </div>
                            <div class="p-3 w-auto text-center d-inline-flex border-faded">
                                <span class="streamline" data-height="80"
                                    data-slice-colors="var(--info-500),var(--warning-500),var(--success-200)"
                                    data-type="pie" data-width="80">7,6,3</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/scripts/pages/streamline.js" type="module"></script>
}
