@page "/apex-slope"
@model Smartadmin.Pages.Apex.SlopeModel

@{
    ViewBag.Title = "Slope";
}

@section styles
{

}

@await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml", new {
pageTitle = "Apex Slope Chart",
pageSubTitle1 = "Data Visualization",
pageSubTitle2 = "Apex Charts",
pageSubText = "Highly effective for assessing data evolution efficiently, ideal for visualizing shifts over time."
})

<div class="main-content">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-icon" id="panel-1">
                <div class="panel-hdr">
                    <h2> Basic <span class="fw-light"><i>Slope</i></span>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-bs-offset="0,10"
                            data-bs-original-title="Toggle" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use class="panel-collapsed-icon" href="img/sprite.svg#minus-circle"></use>
                                <use class="panel-expand-icon" href="img/sprite.svg#plus-circle">
                                </use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-bs-offset="0,10"
                            data-bs-original-title="Fullscreen" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#stop-circle"></use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-close" data-bs-offset="0,10"
                            data-bs-original-title="Close" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#x-circle"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="panel-container">
                    <div class="panel-content">
                        <div id="basic-slope-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-icon" id="panel-2">
                <div class="panel-hdr">
                    <h2> Multi group <span class="fw-light"><i>Slope</i></span>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-bs-offset="0,10"
                            data-bs-original-title="Toggle" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use class="panel-collapsed-icon" href="img/sprite.svg#minus-circle"></use>
                                <use class="panel-expand-icon" href="img/sprite.svg#plus-circle">
                                </use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-bs-offset="0,10"
                            data-bs-original-title="Fullscreen" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#stop-circle"></use>
                            </svg>
                        </button>
                        <button class="btn btn-panel" data-action="panel-close" data-bs-offset="0,10"
                            data-bs-original-title="Close" data-bs-placement="top" data-bs-toggle="tooltip"
                            type="button">
                            <svg class="sa-icon">
                                <use href="icons/sprite.svg#x-circle"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="panel-container">
                    <div class="panel-content">
                        <div id="multi-group-slope-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/scripts/pages/apexslopechart.js" type="module"></script>
}
