﻿<!DOCTYPE html>
@{
    var html_attributes = ViewBag.HTMLAttributes != null ? ViewBag.HTMLAttributes : "";
    var html_class = "set-nav-dark";

    var body_attributes = ViewBag.BodyAttributes ?? "";
    var body_class = ViewBag.BodyClass ?? "";
}
<html lang="en" @html_attributes class="set-nav-dark">

<head>
    @await Html.PartialAsync("~/Pages/Shared/Partials/_TitleMeta.cshtml")
    @RenderSection("styles", false)
    @await Html.PartialAsync("~/Pages/Shared/Partials/_HeadCSS.cshtml")
</head>

<body class="@ViewBag.BodyClass">

    @RenderBody()


    @RenderSection("scripts", required: false)

</body>

</html>