@page "/smarttables-multiple"
@model Smartadmin.Pages.Smarttables.MultipleModel

@{
    ViewBag.Title = "Multiple";
}

@section styles
{

}

@await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml", new {
pageTitle = "SmartTables: Multiple Tables",
pageSubTitle1 = "Data Visualization",
pageSubTitle2 = "Smart Tables",
pageSubText = "Loading multiple tables with server side, static, and dynamic data."
})

<div class="main-content">
    <div class="info-container">
        <strong>Here</strong> we use <code>mock-server.php</code> to load data via AJAX, data resets
        every 24 hours.
        Configure with:
        <code>
                                data: { type: 'ajax', source: 'API_URL', serverSide: true, method: 'GET', cacheDuration: 300000 }
                            </code>
        Processing happens server-side; client only renders. <strong>Searched, paging, and
            sorting</strong> is cached for 5 minutes.
        Test how this works by opening the browser's <strong>developer tools</strong> and going to
        the <strong>Network</strong> tab. <a href="smarttablesjs.html#smarttables-server-side" target="_blank">See
            documentation →</a>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation"><a aria-selected="true" class="nav-link active"
                        data-bs-toggle="tab" href="#tab_direction-1" role="tab">Angepasste Spieler</a></li>
                <li class="nav-item" role="presentation"><a aria-selected="false" class="nav-link" data-bs-toggle="tab"
                        href="#tab_direction-2" role="tab" tabindex="-1">Gelöschte Spieler</a></li>
                <li class="nav-item" role="presentation"><a aria-selected="false" class="nav-link" data-bs-toggle="tab"
                        href="#tab_direction-3" role="tab" tabindex="-1">Neue
                        Spieler</a></li>
            </ul>
            <div class="tab-content py-4 px-3 border-top-0 bg-white border rounded-bottom">
                <div class="tab-pane fade active show" id="tab_direction-1" role="tabpanel">
                    <table id="demo-table"></table>
                </div>
                <div class="tab-pane fade" id="tab_direction-2" role="tabpanel">
                    <table id="demo-table-2"></table>
                </div>
                <div class="tab-pane fade" id="tab_direction-3" role="tabpanel">
                    <table id="demo-table-3"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/scripts/pages/smarttablesmultiple.js" type="module"></script>
}
