@page "/login"
@model Smartadmin.Pages.Auth.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Login";
    Layout = "~/Pages/Shared/_BaseLayout.cshtml";
}

@section styles
{

}

<nav class="navbar navbar-expand-lg navbar-dark position-fixed w-100 py-3" style="z-index: 1000;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img alt="logo" src="~/img/logo.png" />
        </a>
    </div>
</nav>
<section class="hero-section position-relative overflow-hidden">
    <div class="container" style="position: relative; z-index: 1;">
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 col-xl-4">
                <div class="login-card p-4 p-md-6 bg-dark bg-opacity-50 translucent-dark rounded-4" id="regular-login">
                    <h2 class="text-center mb-4">Login</h2>
                    <form method="post">
                        <div class="mb-3">
                            <label asp-for="Input.Email" class="form-label"></label>
                            <input asp-for="Input.Email" class="form-control form-control-lg text-white bg-dark border-light border-opacity-25 bg-opacity-25" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Input.Password" class="form-label"></label>
                            <input asp-for="Input.Password" class="form-control form-control-lg text-white bg-dark border-light border-opacity-25 bg-opacity-25" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <button type="submit" class="btn btn-primary btn-lg w-100">Sign In</button>

                        <div class="text-center mt-3">
                            <a href="/auth/forgetpassword" class="text-white">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="net"></div>
</section>


<!-- Animation Plugin -->

@section scripts
{
    <script src="~/plugins/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/pages/login.js"></script>
    <script src="~/plugins/three/three.min.js"></script>
    <script src="~/plugins/vanta/vanta.halo.min.js"></script>
    <script src="~/plugins/vanta/vanta.net.min.js"></script>
    <script src="~/scripts/pages/auth-animation.js"></script>
}