<ul id="js-nav-menu" class="nav-menu">
    <li class="nav-item">
        <a href="/dashboard" title="Dashboards" data-filter-tags="">
            <svg class="sa-icon">
                <use href="icons/sprite.svg#trello"></use>
            </svg>
            <span class="nav-link-text" data-i18n="">Dashboards</span>
        </a>
        <a href="/">
            <svg class="sa-icon">
                <use href="icons/sprite.svg#table"></use>
            </svg>
            <span class="nav-link-text" data-i18n>Candidates</span>
        </a>
    </li>
</ul>