@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Manatalol.App.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager
@{
    var user = await _userManager.GetUserAsync(User);
}

<header class="app-header">
    <!-- Collapse icon -->
    <div class="d-flex flex-grow-1 w-100 me-auto align-items-center">
        <!-- App logo -->
        @await Html.PartialAsync("~/Pages/Shared/Partials/_AppLogo.cshtml")
    </div>

    <!-- Profile -->
    <button type="button" data-bs-toggle="dropdown"
            class="btn-system bg-transparent d-flex flex-shrink-0 align-items-center justify-content-center"
            aria-label="Open Profile Dropdown">
        <div class="ma-avatar">@user?.FullName.Substring(0, 2)</div>
    </button>

    <!-- Profile dropdown -->
    <div class="dropdown-menu dropdown-menu-animated">
        <div class="notification-header rounded-top mb-2">
            <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                <div class="status status-success d-inline-block me-2">
                    <div class="ma-avatar me-2">@user?.FullName.Substring(0, 2)</div>
                </div>
                <div class="info-card-text">
                    <div class="fs-lg text-truncate text-truncate-lg">@user?.FullName</div>
                    <span class="text-truncate text-truncate-md opacity-80 fs-sm">@user?.Email</span>
                </div>
            </div>
        </div>

        <div class="dropdown-divider m-0"></div>
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-controller="Account" asp-action="Logout" method="post" class="dropdown-item py-3 fw-500 d-flex justify-content-between">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn border-0">Logout</button>
            </form>
        }
    </div>
</header>