@page "/dashboard"
@model Smartadmin.Pages.Dashboard.IndexModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="main-content">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-icon" id="panel-1">
                <div class="panel-hdr">
                    <h2>
                        Skills<span class="fw-light"><i>Chart</i></span>
                    </h2>
                </div>
                <div class="panel-container">
                    <div class="panel-content">
                        <div id="skills-pie-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-icon" id="panel-3">
                <div class="panel-hdr">
                    <h2>
                        Functions <span class="fw-light"><i>Chart</i></span>
                    </h2>
                </div>
                <div class="panel-container">
                    <div class="panel-content">
                        <div id="functions-donut-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="module">
        import ApexCharts from '/scripts/thirdparty/apexchartsWrapper.js';

            var skillsData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.SkillsData));
            var functionsData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.FunctionsData));


            document.addEventListener('DOMContentLoaded', function () {
                'use strict';

                if (document.getElementById('skills-pie-chart')) {
                    const labels = skillsData.map(item => Object.keys(item)[0]);
                    const series = skillsData.map(item => Object.values(item)[0]);

                    const options = {
                        series: series,
                        chart: {
                            type: 'pie',
                            height: 380
                        },
                        labels: labels,
                        legend: {
                            position: 'right'
                        }
                    };

                    const chart = new ApexCharts(document.getElementById('skills-pie-chart'), options);
                    chart.render();
                }

                if (document.getElementById('functions-donut-chart')) {
                    const labels = functionsData.map(item => Object.keys(item)[0]);
                    const series = functionsData.map(item => Object.values(item)[0]);

                    const options = {
                        series: series,
                        chart: {
                            type: 'donut',
                            height: 380
                        },
                        labels: labels
                    };

                    const chart = new ApexCharts(document.getElementById('functions-donut-chart'), options);
                    chart.render();
                }
            });
    </script>
}