@page "/dashboard"
@model Smartadmin.Pages.Dashboard.IndexModel

@{
    ViewBag.Title = "Index";
}

@section styles
{

}

<div class="main-content">
    <div class="row">
        <div class="col-xl-6">
            <!-- Secession -->
            <div class="panel panel-icon" id="panel-6">
                <div class="panel-hdr">
                    <h2> Secession <span class="fw-light"><i>Scale</i></span></h2>
                </div>
                <div class="panel-container">
                    <div class="panel-content">
                        <div class="row mb-g">
                            <div class="col-md-6">
                                <div class="d-flex align-items-center" id="secessionChart"></div>
                            </div>
                            <div class="col-md-6 col-lg-5 me-lg-auto">
                                <div class="d-flex mt-2 mb-1 fs-xs text-primary">
                                    Current Usage
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div aria-label="70%" aria-labelledby="Current Usage" aria-valuemax="100"
                                         aria-valuemin="0" aria-valuenow="70" class="progress-bar" role="progressbar"
                                         style="width: 70%;"></div>
                                </div>
                                <div class="d-flex mt-2 mb-1 fs-xs text-info">
                                    Net Usage
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div aria-label="30%" aria-labelledby="Net Usage" aria-valuemax="100"
                                         aria-valuemin="0" aria-valuenow="30" class="progress-bar bg-info-500"
                                         role="progressbar" style="width: 30%;"></div>
                                </div>
                                <div class="d-flex mt-2 mb-1 fs-xs text-warning">
                                    Users blocked
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div aria-label="40%" aria-labelledby="Users blocked" aria-valuemax="100"
                                         aria-valuemin="0" aria-valuenow="40" class="progress-bar bg-warning-500"
                                         role="progressbar" style="width: 40%;"></div>
                                </div>
                                <div class="d-flex mt-2 mb-1 fs-xs text-danger">
                                    Custom cases
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div aria-label="15%" aria-labelledby="Custom cases" aria-valuemax="100"
                                         aria-valuemin="0" aria-valuenow="15" class="progress-bar bg-danger-500"
                                         role="progressbar" style="width: 15%;"></div>
                                </div>
                                <div class="d-flex mt-2 mb-1 fs-xs text-success">
                                    Test logs
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div aria-label="25%" aria-labelledby="Test logs" aria-valuemax="100"
                                         aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success-500"
                                         role="progressbar" style="width: 25%;"></div>
                                </div>
                                <div class="d-flex mt-2 mb-1 fs-xs text-dark">
                                    Uptime records
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div aria-label="10%" aria-labelledby="Uptime records" aria-valuemax="100"
                                         aria-valuemin="0" aria-valuenow="10" class="progress-bar bg-fusion-500"
                                         role="progressbar" style="width: 10%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/plugins/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/plugins/jsvectormap/world-merc.js"></script>
    <script src="~/plugins/fullcalendar/index.global.min.js"></script>
    <script src="~/plugins/easypiechart/easypiechart.min.js"></script>
    <script src="~/scripts/pages/easypiechart.js"></script>
    <script src="~/scripts/pages/controlcenterdashboard.js" type="module"></script>
}