@model Manatalol.App.Pages.Candidates.IndexModel

<div class="modal fade" id="createCandidatViaFile" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" enctype="multipart/form-data" asp-page-handler="Upload">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload CV PDF</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input asp-for="PdfFiles" type="file" class="form-control" accept="application/pdf" multiple />
                    <span asp-validation-for="PdfFiles" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>
